# Python
__pycache__/
*.py[cod]
*.pyc
venv/
env/
.ipynb_checkpoints/

# Jupyter
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Dataset besar (opsional, uncomment jika dataset > 100MB)
# dataset/*.csv

# Environment
.env
